h1{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    align-items: left;
    color: black;
    text-Align: left;
    width: 100%;
    padding-top:20%;
    padding-left: 20%;
    font-size: 50px;
    padding-bottom: 5px;
    margin:0;
}

p{
    font-family: 'Quicksand', sans-serif;
    align-items: left;
    color: black;
    text-Align: left;
    width: 100%;
    margin-left: 20%;
    padding-top: 20px;
    font-size: 20px;
    animation: 2s anim-lineUp ease-out; 
    
}


h2{
    font-family: 'Quicksand', sans-serif;
    align-items: left;
    color: rgb(221, 166, 255);
    text-Align: left;
    width: 100%;
    margin-left: 20%;
    font-size: 18px;
    padding-top: 20px;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes anim-lineWest {
    0% {
        opacity: 0;
        transform: translateX(20%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


.txt-rotate > .wrap{
    border-right: 0.08em solid #666;
    padding: 0;
    margin: 0;
}

.about{
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    object-fit: contain;
    padding: 0px;
    background-color: rgb(62, 54, 89);
    transition: 1s;
    padding-top: 10%; 
  }

  .about-text{
    font-size: 50px;
    color:#fff;
    font-family: 'Quicksand', sans-serif;
    padding-top: 20%;
    margin-left: 10%;
    width: 100%;
    transition: 1s ease-in;
    flex: 1;
    flex-direction: column;
    display: flex;
    background-color: rgb(62, 54, 89);
}
html{
    scroll-behavior: smooth;
  }

.about-text-2{
    font-size: 20px;
    color:#fff;
    font-family: 'Quicksand', sans-serif;
    padding-top: 40px;
    padding-bottom: 20%;
    padding-right: 40%;
    margin-left: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.about-text-2 del{
    text-decoration: underline rgb(221, 166, 255) 4px;
    text-underline-position: under;
    transition: text-decoration-color 300ms;
}

.img{
    padding-bottom: 8%;
    padding-right: 10%;
    padding-top: 20%;
    align-items: right;
    border-radius: 10%;
}

td {
    vertical-align: middle;
    text-align: left;
}

.wrap{
    color: rgb(221, 166, 255);
    font-weight:800;
}

