.footer-container {
  background-color: rgb(62, 54, 89);
  padding: 2rem 0;
  font-family: 'Inter', sans-serif;
  color: antiquewhite;
  width: 100%;
}

.footer-sub {
  display: flex;
  justify-content: space-between; /* This ensures that the content is spread between the left and right */
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.footer-left {
  text-align: left; /* Ensures copyright text is aligned to the left */
}

.footer-right {
  display: flex;
  justify-content: flex-end; /* Ensures icons are pushed to the right */
  align-items: center;
}

.footer-logo {
  width: 50px;
  height: auto;
}

.footer-center p {
  font-size: 20px;
  padding: 0;
  text-align: center;
  color: #fcf9f5;
}

.footer-right a {
  margin: 0 10px;
  color: #fcf9f5;
  font-size: 24px;
  transition: transform 0.2s ease;
}

.footer-right a:hover {
  transform: scale(1.2);
  color: #afa7ca;
}
