.footer-container {
  background-color: #252222;
  padding: 2rem 0;
  font-family: 'Quicksand', sans-serif;
  color: antiquewhite;
  width: 100%;
}

.footer-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 auto;
  flex-wrap: wrap;
}

.footer-logo {
  width: 50px;
  height: auto;
}

.footer-center p {
  font-size: 20px;
  padding: 0;
  text-align: center;
  color: #fcf9f5;
}

.footer-right a {
  margin: 0 10px;
  color: #fcf9f5;
  font-size: 24px;
  transition: transform 0.2s ease;
}

.footer-right a:hover {
  transform: scale(1.2);
  color: #afa7ca;
}
